:root {
  --font-sans: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji","Segoe UI Emoji";
}
html, body {
  padding: 0;
  margin: 0;
  font-family: var(--font-sans);
}
a { color: #0366d6; text-decoration: none; }
a:hover { text-decoration: underline; }
button { cursor: pointer; }
